article {
    clear:both;
    background-color:#4A2023;
    border-style:dashed;
    border-width:thick;
    border-color:#9E8953;
    color:#F0EBCC;    
    padding:10px;   
}

img{
    border:none;
    
}

#mail{
    text-align:center;
    padding:10px;       
    margin-left:auto;
    margin-right:auto;
}


#mail li{   
    display:inline;
    list-style-type:none;
    padding:10px;
}

nav{                   
    margin-bottom:100px;           
    text-align:center;
    position:static;
    margin-right:auto;
    margin-left:auto;
    width:70%;
}

nav ul li{
    width:100px;
    float:left;
    background-color:#4A2023;
    text-align:center;
    border-radius:10px;
    border-style:solid;
    border-color:#9E8953;
    margin:2px;
    
}

header{       
    width:45%;
    margin-left:auto;
    margin-right:auto;
    border-radius:100px;
    
}

header h1, header h2{
    color:#F0EBCC;    
}

ul li a{
    text-decoration:none;
    outline:none;        
}


a:active{
    color:#8F1922;        
}

a:link, a:visited{
    color:#DFE5A9;        
}



nav li:hover{
    border-color:#4A2023;    
    border-style:dashed;
    background-color:#8F1922;  
    
}

nav li{
    list-style-type:none;    
    text-decoration:none;    
}

body{
    background-color:#8F1922;   
    background-image:url("../img/Snowflakes.png");
    background-attachment:scroll;
}

H1, H2, H3, H4, H5, H6{
    color:#DFE5A9; 
    text-align:center;
}



p{
    color:#DFE5A9; 
}

article H4 {
    text-align:left;
    
}



footer{
    background-color:#9E8953;
    color:#4A2023;   
    clear:both;    
    padding:10px;
    margin-top:100px;    
    margin-left:auto;
    margin-right:auto;
    border-radius:15px;
    text-align:center;        
}

.socialTwitter{
    float:left;
    border:none;
}

.socialFacebook{
    float:right;
    border:none;
    
}

.enlaces{
    text-align:center;  
    text-decoration:none;
    
}

.enlaces a{
    text-decoration:none;
    border-style:groove;
    border-radius:10px;
    border-color:#9E8953;
    padding:3px;
    margin:5px;   
    
}

.enlaces a:hover{
    text-decoration:none;
    border-style:dotted;
    border-radius:10px;
    border-color:#8F1922;
    color:#9E8953;
    padding:3px;
    margin:5px;   
    
}


.validaciones{
    text-align:center;
    
}