article p{
    text-align:center;        
}

.aqua_parrafo{
    background-color:aqua;
}

.black_parrafo{
    background-color:Black;
    color:White;
}

.blue_parrafo{
    background-color:Blue;
}

.fuchsia_parrafo{
    background-color:Fuchsia;
}

.gray_parrafo{
    background-color:Gray;
}

.green_parrafo{
    background-color:Green;
}

.lime_parrafo{
    background-color:Lime;
}

.maroon_parrafo{
    background-color:Maroon;
}

.navy_parrafo{
    background-color:Navy;
}

.olive_parrafo{
    background-color:Olive;
}

.purple_parrafo{
    background-color:Purple;
}

.red_parrafo{
    background-color:Red;
}

.silver_parrafo{
    background-color:Silver;
}

.teal_parrafo{
    background-color:Teal;
}

.white_parrafo{
    background-color:White;
}

.yellow_parrafo{
    background-color:Yellow;
}


